{% extends "base.html" %}
{% import "_forms.html" as forms %}

{% block page_header %}
  <div class="page-header">
    <h1>{{ post.title }}</h1>
  </div>
{% endblock %}

{% block content %}
   {% if post.body %}
    	{% if post.post_type == 'Quote' %}
      		<blockquote>{{ post.body }}</blockquote>
      		<p>{{ post.author }}</p>
    	{% else %}
	{% if post.body %}
  		{% if post.post_type == 'Quote' %}
    			<blockquote>{{ post.body }}</blockquote>
    			<p>{{ post.author }}</p>
  		{% else %}
    			<p>{{ post.body }}</p>
  		{% endif %}
	{% endif %}
	{% if post.embed_code %}
  		{{ post.embed_code|safe() }}
	{% endif %}
	{% if post.image_url %}
		<p><img src="{{ post.image_url }}" /><p>
	{% endif %}
    {% endif %}
  {% endif %}
  {% if post.embed_code %}
    {{ post.embed_code|safe() }}
  {% endif %}
  {% if post.image_url %}
    <p><img src="{{ post.image_url }}" /><p>
  {% endif %}
  <p>{{ post.created_at.strftime('%H:%M %Y-%m-%d') }}</p>
  <div class="share_buttons">
    <div>
    <a class="twitter-share-button" data-url="""http://researchorum.org/""+{{post.slug}}" href="https://twitter.com/share">Tweet</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
    
    <div class="fb-like" data-font="arial" data-href="http://researchorum.org/" data-layout="button_count" data-show-faces="true" data-width="450">
        &nbsp; 
    </div>
</div>
  <hr>
  <h2>Comments</h2>
  {% if post.comments %}
    {% for comment in post.comments %}
       <p>{{ comment.body }}</p>
       <p><strong>{{ comment.author }}</strong> <small>on {{ comment.created_at.strftime('%H:%M %Y-%m-%d') }}</small></p>
      {{ comment.text }}
    {% endfor %}
  {% endif %}
    <h2>Tags</h2>
    {% if post.display_tags %}
        <p>{{ ",".join(post.display_tags) }}</p>
    {% endif %}
  <hr>
  <h2>Add a comment</h2>
  <form action="." method="post">
	{{ forms.render(form) }}
    <div class="actions">
      <input type="submit" class="btn primary" value="comment">
    </div>
  </form>
{% endblock %}
