{% extends "base.html" %}

{% block content %}
    <input style="width: 400px;" type="text" id="search" name="search" value="Search"/>
    <br/><br/>
    {% for post in posts %}
        <h2><a href="{{ url_for('posts.detail', slug=post.slug) }}">{{ post.title }}</a></h2>
        <p>
            <a href="#" class="button" title="Abstract"><span>Abstract</span></a>
        </p>
        <div style="display: none;">
       	    {% if post.body %}
                {% if post.post_type == 'Quote' %}
  					<blockquote>{{ post.body}}</blockquote>
				    <p>{{ post.author }}</p>
				{% else %}
    				<p>{{ post.body}}</p>
  				{% endif %}
			{% endif %}
			{% if post.embed_code %}
  				{{ post.embed_code|safe() }}
			{% endif %}
			{% if post.image_url %}
				<p><img src="{{ post.image_url }}" /><p>
			{% endif %}
		</div>
        <p>
            {{ post.created_at.strftime('%H:%M %Y-%m-%d') }} |
            {% with total=post.comments|length %}
            {{ total }} comment {%- if total > 1 %}s{%- endif -%}
            {% endwith %}
        </p>
    {% endfor %}
{% endblock %}
