<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Researchorum</title>
    <link href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <style>.content {padding-top: 80px;}</style>
    <script>
        $(document).ready(function() {
            $(".button").click(function () {
                var div = $(this).parent().next();
                if(div.is(":visible")) {
                    div.hide();
                    } else {
                    div.fadeIn(450);
                };
            });
        });
    </script>
    {% block head %}
    {% endblock %}
  </head>

  <body>

    {%- block topbar -%}
    <div class="topbar">
      <div class="fill">
        <div class="container">
          <h2>
              <a href="/" class="brand">Researchorum</a> <small>Revolutionizing research collaboration</small>
          </h2>
        </div>
      </div>
    </div>
    {%- endblock -%}

    <div class="container">
      <div class="content">
        {% block page_header %}{% endblock %}
        {% block content %}{% endblock %}
      </div>
    </div>
    {% block js_footer %}{% endblock %}
  </body>
</html>
