<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="" rel="stylesheet" type="text/css" />
    <style type="text/css">
    </style>
  </head>
  <body>
    <h1 style="text-align: center;">Researchorum</h1>

    <div style="width: 300px; margin: 10px auto; padding: 10px; border: 1px solid gray;">
        <form action="/login" method="POST">
            Username <input type="text" name="username" />
            <input type="submit" value="Log In">
        </form>
    </div>
  </body>
</html>
<!-- vim: set sw=2 sts=2 et tw=80 : -->
